[submodule "submodules/json"]
	path = submodules/json
	url = https://github.com/nlohmann/json.git
[submodule "submodules/html5lib-tests"]
	path = submodules/html5lib-tests
	url = https://github.com/An7ar35/html5lib-tests.git
[submodule "submodules/commonmark-spec"]
	path = submodules/commonmark-spec
	url = https://github.com/commonmark/commonmark-spec.git
[submodule "submodules/url-testing"]
	path = submodules/url-testing
	url = https://github.com/cweb/url-testing
