<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" type="text/css" href="../css/main.css"/>
        <link rel="stylesheet" type="text/css" href="../css/blogator.css"/>
    </head>
    <body>
        <div class="header">
            <h1>El Blog</h1>
        </div>
        <div class="navbar">
            <ul>
                <li class="active"><a href="../index.html">Home</a></li>
                <li><a href="../index/by_date/0.html">Posts</a></li>
            </ul>
        </div>

        <!--<div class="breadcrumb"></div>-->

        <div class="content">
            <div class="left-col">

                <div class="browse-posts">
                    <ul>
                        <li><a href="../index/by_date/0.html">All Posts</a></li>
                        <li><a href="../index/by_year/years.html">By Year</a></li>
                        <li><a href="../index/by_tag/tags.html">By Tags</a></li>
                        <li><a href="../index/by_author/authors.html">By Authors</a></li>
                    </ul>
                </div>

                <div class="newest-posts"></div>

            </div>

            <div class="right-col">
                <div id="about-me">
                    <h2>About Me</h2>
                    <img src="../img/me.png" alt="me">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus neque odio. Vestibulum vestibulum pulvinar risus vitae varius. Proin a. </p>
                </div>

                <div>
                    <h2>Pinned</h2>
                    <div class="featured-posts"></div>
                </div>

                <div>
                    <h2>Top Tags</h2>
                    <div class="top-tags"></div>
                </div>

                <div>
                    <h2>Top Authors</h2>
                    <div class="top-authors"></div>
                </div>

            </div>
        </div>
    </body>
</html>