<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <link rel="stylesheet" type="text/css" href="../css/main.css"/>
        <link rel="stylesheet" type="text/css" href="../css/blogator.css"/>
    </head>
    <body>
        <div class="header">
            <h1>El Blog</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="../index/by_date/0.html">Posts</a></li>
            </ul>
        </div>
        <div class="breadcrumb"></div>
        <div class="page-nav"></div>
        <div class="content">
            <div class="left-col">
                <div class="post-content"></div>
            </div>
            <div class="right-col">
                <div>
                    <h2>By Dates</h2>
                    <div class="index-pane-dates"></div>
                </div>
                <div>
                    <h2>By Tags</h2>
                    <div class="index-pane-tags"></div>
                </div>
            </div>
        </div>
    </body>
</html>